<!--DOCTYPE html-->
<html lang="en">

<head>
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title> Weather Application</title>
</head>

	<body>

		<header>
			<div class="cont">
			<h2>Weather Report</h2>
		</div>
		</header>

		

		<!--<div class="container">-->
<div class="container">
	<div class="search">
			<form method="POST">
			<input type="text" placeholder="Search location" name="inputname">
			<button type="submit"><i class="fa fa-search"></i></button>
			
		</form>
</div>
		<div class="panel panel-default">

			
    <div class="panel-heading" id="p5">
    	<h4> Type your city name in the above box and see the result!!</h4>
    </div>

    
    <div class="panel-heading" id="p4"> <span class="star">Created By Kushdeep Mittal</span></div>
  </div>

		
</div>
      <!--</div>  --> 
	</body>
	</html>